<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="wrapper" th:fragment="wrapper">
    <div class="title">Form Input User </div>
    <form class="form" >
        <div class="input_field">
            <label>User Name</label>
            <input type="text" name="name" class="input">
        </div>
        <div class="input_field">
            <label>User Email</label>
            <input type="text" name="email" class="input">
        </div>
        <div class="input_field">
            <label>Country</label>
            <input type="text" name="country" class="input">
        </div>
        <div class="input_field">
            <input type="submit" value="Enter" class="btn">
        </div>
    </form>
</div>
</body>
</html>