<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="tables" th:fragment="table(products)">
  <div class="heading">

    <div class="search">
      <input type="text" name="search" id="search" placeholder="Search here">
      <label for="search"><i class="fas fa-search"></i></label>
    </div>
    <a href="#" class="btn">Create user</a>
  </div>
  <div class="content">
    <table class="users">
      <thead>
      <td>ID</td>
      <td>Name</td>
      <td>Email</td>
      <td>Country</td>
      </thead>
      <tbody>
      <tr th:each="product : ${products}">
        <td th:text="${product.name}"></td>
        <td th:text="${product.price}"></td>
        <td th:text="${product.description}"></td>
        <td th:text="${product.producer}"></td>
        <td>
         <a th:href="@{/product/{id}/edit(id=${product.id})}"><i class="far fa-eye" ></i></a>

          <i class="far fa-edit"></i>
          <i class="far fa-trash-alt"></i>
        </td>
      </tr>


      </tbody>
    </table>
  </div>
  <div class="page">
    <ul class="pagination">
      <li><a>1</a></li>
      <li><a>2</a></li>
      <li><a>3</a></li>
      <li><a>4</a></li>
      <li><a>5</a></li>
      <li><a>6</a></li>
    </ul>
  </div>
</div>
</body>
</html>