<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container" >
    <div class="sidebar" th:replace="/layout :: sidebar"></div>
    <div class="main">
        <div class="top-bar" th:replace="/top-bar.html :: top-bar"></div>
        <div class="wrapper" >
            <div class="title">Form Input Product </div>
            <form class="form" th:action="@{/product/update}" th:object="${product}" method="post" novalidate="novalidate">

                <input type="hidden" th:field="*{id}" class="input">
                <div class="input_field">
                    <label>Product Name</label>
                    <input type="text" th:field="*{name}" class="input">
                </div>
                <div class="input_field">
                    <label>Price</label>
                    <input type="text" th:field="*{price}" class="input">
                </div>
                <div class="input_field">
                    <label>Description</label>
                    <input type="text" th:field="*{description}" class="input">
                </div>
                <div class="input_field">
                    <label>Producer</label>
                    <input type="text" th:field="*{producer}" class="input">
                </div>
                <div class="input_field">
                    <input type="submit" value="Enter" class="btn">
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>

